<!DOCTYPE html>
<html ng-app="mastermind">
  <head>
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Monoton' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src='jquery.min.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
    <div class="row">
      <h1>Witaj w <span><%= title %></span>!</h1>
      <div class="game column" ng-controller="gameCTRL">
        
        <div class="settings row" >
          <div class="large-3 medium-6 columns">Elementow w rzędzie<input class="settInp" type="number" ng-model="mySize" min="1"></div>
          <div class="large-3 medium-6 columns">Zakres<input class="settInp" type="number" ng-model="myDim" max="9" min="1"></div>
          <div class="large-3 medium-6 columns">Liczba ruchów<input class="settInp" type="number" ng-model="myMax" min="1"></div>
          <div class="large-3 medium-6 columns text-center"><input type="button" class="button" id="start" ng-click="startNewGame()" value="Rozpocznij grę">
            <input type="button" class="button playAgain"  ng-click="playAgain()" value="Zagraj jeszcze raz" style="display:none"></div>
        </div>
        
        <div class="gameField row" style="display:none">
          <div class="large-10 columns">
           Podaj {{ mySize }} cyfry z zakresu od 1 do {{ myDim}}
            <input type="number" ng-model="quessNumber" min="1">
          </div>
          <div class="large-2 columns text-center">  
            <input type="button" class="button" value="sprawdź" ng-click="checkAnswer()">
          </div>        
        </div>
        
        <div class="answers" ng-repeat="answer in answers" style="display:inherit">
          {{ $index+1 }}. <span>Twoja odpowiedź:  {{ answer.myAnswer }} 
          <div ng-repeat="x in answer.bDot" style="display:inherit">
            <span class="black"></span>
          </div>
          <div ng-repeat="x in answer.wDot" style="display:inherit">
            <span class="white"></span>
          </div>
          </span>
        </div>
        
        <div class="lose">
          <h2>Przegrałeś</h2>
          <input type="button" class="button "  ng-click="playAgain()" value="Zagraj jeszcze raz" >
        </div>
        
        <div class="win">
          <h2>Wygrałeś</h2>
           <input type="button" class="button "  ng-click="playAgain()" value="Zagraj jeszcze raz" >
        </div>
      </div>
    </div>
  </body>
</html>
