@logo_font:  'Monoton', cursive;
@default_font: 'Montserrat', sans-serif;
@colorOne: #F8f1e5;
@colorTwo: #F9ba32;
@colorThree: #426e86;
@colorFour: #2f3131;

/*Mixins*/
.gameResult {
  display: none;
  position: fixed;
  top:0;
  left: 0;
  background-color: @colorFour;
  width: 100%;
  height: 100vh;
  text-align: center;
  opacity: .9;
  padding-top: 10%;
  text-transform: uppercase;
}

.circles{
  position: relative;
  top: 5px;
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: black;
  background-color: black;
}

//Czarne & Białe kulki
.black {
  .circles;
  background-color: black;
}
.white {
  .circles;
  background-color: white;
}

//Wygląd dla ekranu po wygranej i przegranej
.lose, .win {
  .gameResult;
}

/* nadpisanie stylu z foundation*/
.button {
  text-shadow: 1px 0 1px @colorFour;
  margin-top: 23px;
  background-color: @colorTwo;
  text-transform: uppercase;
  &:hover {
    background-color:@colorThree;
  }
  &:focus {
    background-color: @colorTwo;
  }
}

/*zmiana stylów inputów*/
input[type="text"],
input[type="number"]{
  background-color: @colorThree !important;
  border: 2px solid @colorTwo ;
  &:focus {
    box-shadow: none;
    border: 2px solid @colorFour;
  }
  &:disabled {
    opacity: .7;
  }
}

body{
  background: url(../img/px_by_Gre3g.png); //px by Gr3g From subtlepatterns.com
  color: @colorOne;
  font-family: @default_font;
  h1 {
    text-align: center; 
    color: @colorTwo;
    span{
      font-family: @logo_font;
      text-shadow: 2px 2px 2px @colorThree;
    }
  }
  .game {
    .settings {
      margin: 25px 0;
      border: 4px solid @colorThree;
      padding: 10px;
      border-radius: 15px;
      position: relative;
      &:before {
        text-transform: uppercase;
        position: absolute;
        top: -25px;
        left: 20px;
        content: 'Ustawienia';
        font-weight: 600;
        color: @colorTwo;
      }
    }
    .gameField{
    }
    .answers{
      color: @colorTwo;
      font-size: 20px;
    }
  }
}